.aboutTitle {
  color: black;
  font-size: calc(14px + 1vw);
  margin: 0;
  text-align: center;
  font-family: Open;
}

.aboutText {
  font-size: calc(15px + 1vw);
  margin: 0;
  max-height: 250px;
  text-align: center;
}

.aboutUs {
  border-width: thin;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: auto;
  min-width: 450px;
  width: 50%;
  display: flex;
}

#container {
  align-items: center;
  height: 40vh;
  justify-content: center;
  margin: auto;
  min-height: 250px;
  width: 100%;
}

hr {
  width: 50%;
  border-width: 2px;
}

// .linkedIn {
//   font-size: calc(11px + 0.5vw);
// }

// You were setting the logos to 60 % of the 60 % you had originally gave it.
// Delete logosContainer

// .logosContainer {
//   display: flex;
//   height: 60%;
//   margin: auto;
//   width: 100%;
// }

.logosFit {
  display: flex;
  height: 60%;
  width: 80%;
  img {
    height: 60%;
    margin: auto;
  }
}

.member {
  background-color: white;
  border-radius: 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 32%;
}

.members {
  display: flex;
  height: 100%;
  gap: 10px;
  margin: auto;
  min-width: 460px;
  width: 50%;
}

.profilePic {
  background-color: grey;
  border-radius: 50%;
  max-height: 175px;
  max-width: 175px;
  min-height: 100px;
  min-width: 100px;
  // padding-top: 50%;
  position: relative;
  width: 50%;
}

// .modInfo {
//   display: flex;
//   height: 50%;
//   width: 100%;
// }

.modWords {
  font-size: calc(14px + 0.5vw);
  height: 100%;
  margin: auto;
  min-font-size: 16px;
  text-align: center;
}

.occupation {
  font-size: calc(10px + 0.3vw);
}

.technologies {
  background-color: white;
  border-style: solid;
  border-width: thin;
  flex-direction: column;
  height: 100%;
  margin: auto;
  min-width: 450px;
  width: 50%;
}

.technologiesTitleFont {
  font-size: calc(14px + 1vw);
  text-align: center;
}

// view {
//   align-items: center;
//   justify-content: center;
//   margin: auto;
// }
