body{
  background-color: #F3F3F3 ; 
  color: black;
}
#submitForm{
  float: none;
}
#bottom{
  margin-left: 10px;
  font-weight: bold;
}
.articleBox{
  display: flex;
  margin-bottom: 30px;
}
.articleText{
  font-size: larger;
}
.img{
  width: 50%;
  align-self: center;
}
.active{
  color: red;
}
input{
  float: right;
  margin-right: 1em;
}
hr{
  border-width: 10px;
}
nav{
  background-color: rgb(2, 0, 0);
  display: block;
  overflow: hidden;
  height: 3em; 
  position: sticky;
  top: 0px;
  z-index: 1;
}
li{
  display: block; 
  float: left;
  list-style: none;
  margin-left: 3em;
  margin-right: 5em;
  text-align: center;
  color: white;
}
select{
  margin: auto 10px;
}
li:visited{
  text-decoration: none;
}
.poop{
  text-decoration: none;
}
/* .navitem{
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  color: blue;
} */
#logo{
  height: 50%;
  width: 2%;
  width: fit-content;
}
.rectangle{
  height: 300px;
  width: 100%;
  border: solid;
  border-width: thick;
  border-color: black;
}
.sortBox{
  display: flex;
  align-items: center;
}
.text{
  display: block;
}
.vl{
  border-left: 6px solid black;
  margin-left: 50px;
  margin-right: 30px;
  height: 300px
}
