@use "Variables";

body {
  background-color: Variables.$background;
  color: black;
  font-family: Variables.$siteFont;
  margin: 0;
}

.navitem:link {
  text-decoration: none;
}
.navitem:hover {
  font-weight: bold;
}
.navitem::after {
  content: " / ";
}
.navitem:visited {
  color: black;
  text-decoration: none;
}

.searchbar {
  align-self: flex-end;
  display: inline-block;
}
.searchinput {
}

.active {
  color: red;
}

nav {
  display: flex;
  height: 3em;
  justify-content: center;
  overflow: hidden;
  padding-left: 5%;
}
.navContainer {
  color: white;
  display: inline;
  float: left;
  list-style: none;
  text-align: center;

  /*  */
}
