.bigText {
  h1 {
    padding-left: 1%;
    span {
      color: red;
    }
  }
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 1%;
  justify-content: center;
  // width: 100%;
}

.card {
  border: 1px solid #ccc;
  box-shadow: 5px 5px lightgray;
  cursor: pointer;
  margin: 2px;
  width: 340px;
  img {
    height: 170px;
    width: 340px;
  }
}

.date {
  font-weight: normal;
}

.games {
  font-weight: bold;
}

/* .content{
  padding-left: 5%;
} */

.releases {
  border: 1px solid;
  width: 250px;
}

.sidebar {
  float: right;
  width: 20%;
}

#title {
  padding: 15px;
  text-align: center;
}

.topCompanies {
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  font-size: large;
  justify-content: left;
  list-style: decimal;
  padding-left: 30px;
  width: 250px;
}

/*
 @media screen and (max-width: 1870px)
{  
  .card{
    border: .5px solid #ccc;
    float: left;
    margin: 2.5px;
    width:300px;
  }
  .gallery img{
    height:150px;
    width: 300px;
  }
  .title{
    padding: 12.5px;
    text-align: center;
  }
   } 

@media screen and (max-width: 1640px)
{  
  .card{
    border: .5px solid #ccc;
    float: left;
    margin: 2.5px;
    width:270px;
  }
  .gallery img{
    height:150px;
    width: 270px;
  }
  .title{
    padding: 12.5px;
    text-align: center;
  }
   }

@media screen and (max-width: 1475px)
{  
  .card{
    border: .5px solid #ccc;
    float: left;
    margin: 2.5px;
    width:220px;
  }
  .card img{
    height:100px;
    width: 220px;
  }
  .title{
    padding: 12.5px;
    text-align: center;
  }
   }
@media screen and (max-width: 1210px)
{  
  .container{
    padding-left: 50px;
  }
  .card{
    border: .5px solid #ccc;
    float: left;
    margin: 2.5px;
    width:250px;
  }
  .card img{
    height:100px;
    width: 250px;
  }
  .title{
    padding: 12.5px;
    text-align: center;
  }
  .sidebar{
    visibility: hidden;
  }
   }

@media screen and (max-width: 905px)
{  
  .sidebar{
    visibility: hidden;
  }
   } */
