.cardsContainer {
  // display: flex;
  // flex-wrap: wrap;
  // gap: 30px 1%;
  // justify-content: center;
  // float: left;
  // width: 75%;
  // margin-left: 5%;
  // width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 30px 1%;
  justify-content: center;
  // float: left;
  margin-left: 1%;
  width: 78%;
  border-right: 2px solid black;
  margin-right: 1%;
}
.hungrybox {
  height: 540px;
  width: 960px;
  background-color: yellow;
  padding: 2%;
}

.card {
  color: black;
  border: 1px solid #ccc;
  box-shadow: 5px 5px lightgray;
  cursor: pointer;
  margin: 2px;
  width: 315px;
  img {
    height: 170px;
    width: 315px;
  }
}

.date {
  font-weight: normal;
  font-size: 1em;
}

.games {
  font-weight: bold;
  font-size: 1.4em;
}

/* .content{
  padding-left: 5%;
} */

.homeContainer {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.list {
  h2 {
    background-color: black;
    padding-left: 5px;
  }
  // background-color: #c0c0c082;
  border: 2px solid red;
  margin-bottom: 30px;
}

.releases {
  list-style: none;
  margin: 0;
  // width: 250px;
}

.sidebar {
  // float: left;
  width: 18%;
}

.sidebarHeader {
  color: red;
  font-size: 2em;
  margin: auto;
}

#title {
  padding: 15px;
  text-align: center;
  font-size: 1.6rem;
}

.topCompanies {
  margin-top: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 2em;
  justify-content: left;
  list-style: decimal;
  padding-left: 30px;
  // width: 250px;
}

/*
 @media screen and (max-width: 1870px)
{  
  .card{
    border: .5px solid #ccc;
    float: left;
    margin: 2.5px;
    width:300px;
  }
  .gallery img{
    height:150px;
    width: 300px;
  }
  .title{
    padding: 12.5px;
    text-align: center;
  }
   } 

@media screen and (max-width: 1640px)
{  
  .card{
    border: .5px solid #ccc;
    float: left;
    margin: 2.5px;
    width:270px;
  }
  .gallery img{
    height:150px;
    width: 270px;
  }
  .title{
    padding: 12.5px;
    text-align: center;
  }
   }

@media screen and (max-width: 1475px)
{  
  .card{
    border: .5px solid #ccc;
    float: left;
    margin: 2.5px;
    width:220px;
  }
  .card img{
    height:100px;
    width: 220px;
  }
  .title{
    padding: 12.5px;
    text-align: center;
  }
   }
@media screen and (max-width: 1210px)
{  
  .container{
    padding-left: 50px;
  }
  .card{
    border: .5px solid #ccc;
    float: left;
    margin: 2.5px;
    width:250px;
  }
  .card img{
    height:100px;
    width: 250px;
  }
  .title{
    padding: 12.5px;
    text-align: center;
  }
  .sidebar{
    visibility: hidden;
  }
   }

@media screen and (max-width: 905px)
{  
  .sidebar{
    visibility: hidden;
  }
   } */
