body{
  /* background-color: #121212;  */
  color: black;
}
#flexContainer{
  display: flex;
  justify-content: center;
}
.box{
  display: flex;
  width: 50%;
  height: 100px;
  justify-content: center;
  align-items: center;
  background-color: orange;
}
/* .carousel-container{
  width: 900px;
  height: 900px;
} */
#container{
  display: flex;
  justify-content: center;
}
.box2{
  width: 50%;
  height: 50%;
  background-color: yellow;
}
#nav{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  font-size: 14px;
}
#display{
  display: flex;
  list-style: none;
}
.img{
  width: 50%;
  align-self: center;
}
ol{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  position: sticky;
}
