h1{
  padding-left: 100px;
}
.container{
  float: left;
  display: block;
}
.content{
  padding-left: 5%;
  width: 75%;
}
.sidebar{
  width: 20%;
  float: right;
}
.gallery{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width:340px;
  cursor:pointer;
}
.gallery img{
  width: 340px;
  height:170px;
}
.title{
  padding: 15px;
  text-align: center;
}
.topCompanies{
  width: 250px;
  list-style: decimal;
  justify-content: left;
  padding-left: 30px;
  font-size: large;
  display: inline-block;
  border: 1px solid;
  cursor: pointer;
}
.releases{
  border: 1px solid;
  width: 250px;
}
.games{
  font-weight: bold;
}
.date{
  font-weight: normal;
}



@media screen and (max-width: 1870px)
{
  .gallery{
    margin: 2.5px;
    border: .5px solid #ccc;
    float: left;
    width:300px;
  }
  .gallery img{
    width: 300px;
    height:150px;
  }
  .title{
    padding: 12.5px;
    text-align: center;
  }
}

@media screen and (max-width: 1640px)
{
  .gallery{
    margin: 2.5px;
    border: .5px solid #ccc;
    float: left;
    width:270px;
  }
  .gallery img{
    width: 270px;
    height:150px;
  }
  .title{
    padding: 12.5px;
    text-align: center;
  }
}

@media screen and (max-width: 1475px)
{
  .gallery{
    margin: 2.5px;
    border: .5px solid #ccc;
    float: left;
    width:220px;
  }
  .gallery img{
    width: 220px;
    height:100px;
  }
  .title{
    padding: 12.5px;
    text-align: center;
  }
}
@media screen and (max-width: 1210px)
{
  .container{
    padding-left: 50px;
  }
  .gallery{
    margin: 2.5px;
    border: .5px solid #ccc;
    float: left;
    width:250px;
  }
  .gallery img{
    width: 250px;
    height:100px;
  }
  .title{
    padding: 12.5px;
    text-align: center;
  }
  /* .lastColumn{
    visibility: hidden;
  }
  */
  .sidebar{
    visibility: hidden;
  }
}

@media screen and (max-width: 905px)
{
  .sidebar{
    visibility: hidden;
  }
}
